
#wrapper{
    width:80%;
    margin:50px auto;
    text-align: center;

    img{
        margin:0 auto;
        width:75%;
        display:block;
    }

    h3{
        letter-spacing: 3px;
    }

    
}